<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../assets/css/nav.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>                
            <a href="/">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Protfolid</a>
            <a href="#">Pages</a>
            <a href="/query">qlogin</a>
            <a href="/login">login</a>
        </nav>
    
    </header>
</body>
</html>