body{
    background-color: rgb(17, 16, 16);
    color: seashell;
}
div{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
p{
    
    padding:40px;
    font-weight: bolder;
    font-size: 20px;
}
span{
    color: silver;
}