<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../assets/css/login.css" rel="stylesheet">
</head>
<body>
    <h1>sign up</h1>
    <!--to send the data in query we have to change the method to get because the info send in url
        and if we want to send it in the body we have to write the method post because the post we send it in the body 
        and the get we send it in url 
    -->
    <form action="/signup" method="POST">
        <div class="first-input">
        
        <input type="text" value="" placeholder="username" id='username' name="username">
    </div>
    <div class="second-input">
        <input type="pass" placeholder="password" value="" id='pass' name="pass">
    </div>
    <div class="third-input">
      
        <input type="email" placeholder="email" value="" id='email' name="email">
    </div>
     <button id="button" type="submit">Creat Accoutn</button>
    </form>
</body>
</html>